body {
  margin: 0;
}

/* navbar */

.navbar {
  background-color: #6F1E30;
  width: 100%;
  text-align: center;
  font-size: 5.2em;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1em;
  padding-bottom: 1em;
}

/*end navbar*/

/* page login and Signp */

.log {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6F1E30;
  color: wheat;
  margin: auto;
  margin-top: 150px;
  width: 50%;
  border-radius: 10px;

}

.form-div {


  display: flex;
  flex-direction: column;
  max-width: 300px;
}

/* input name */
.name, .username, .password {
  font-size: 16px;
  height: 25px;
  padding: 6px 10px 3px 6px;
}

label {
  padding: 10px 0px 7px 6px;
}

.div-btn-valid-register {
  display: flex;
  padding: 10px 0px 7px 6px;
  justify-content: center;
  margin-top: 20px;

}

/* end page login and Signp */

/* create a post  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
  padding: 50px 0px 50px 0px;
}

/* create a post  */
.input-Valid {
  display: flex;
  align-items: center;
  border-radius: 6px 6px 6px 6px;
  padding: 8px 10px 8px 10px;
  font-size: 16px;
  background-color: #6F1E30;
  color: wheat;
}

.post {
  display: flex;
  justify-content: center;
}

.card-title {
  text-decoration: underline;
}

.card-body {
  border: 12px solid #4B4F78;

}

textarea {
  resize: vertical;
}

.comments_text {
  resize: vertical;
}

.comments_space {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* title post */

.title {

  color: #101112;
  font-weight: bold;
  font-size: 22px;
}


/* Popular */

/* section top popular */

.top-popular {
  display: flex;
  flex-direction: column;
}

.bloc-article-top-popular {
  display: flex;
  justify-content: space-evenly;
}

/* end section top popular*/

.article-top {
  background-size: contain;
  border: solid #6F1E30 1px;
  color: black;
  border-radius: 2em;
  box-shadow: rgb(154, 178, 201) 6px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  flex-direction: column;
  max-width: 350px;
  padding: 30px 30px 30px 30px;
  text-align: center;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 30px 30px;
}

li {
  list-style: none;
  margin-bottom: 30px;
}

.inherited {

  font-size: initial;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;

}

.top-Share {
  background-color: #6F1E30;

}

.top-comment {
  background-color: #D9FB60;
}

.top-comment, .top-Share {
  border-radius: 5px;
  padding: .2em;
  margin-right: 1em;
}

/* end article top 5 */

/* bottom articles */

.Share {
  background-color: #6F1E30;
  border-radius: 5px;
  padding: .8em;
  margin: 1em;
}

.comment {
  padding: .8em;
  margin: 1em;
  border-radius: 5px;
  background-color: #D9FB60;
}

img {
  max-width: 350px;
}

.displayPosts {
  background-color: #61D9FB;
}

@media only screen and (max-width: 600px) {
  .log {
    width: 100%;
  }

  .navbar {
    background-color: #6F1E30;
    padding-top: 5px;
    font-size: 50px;
    height: 2em;

    width: 100%;
  }

  .mob {
    font-size: 50px;
  }

}